/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box; 
	margin: 0;
	padding: 0;
	/* border:solid 1px darkorange; */
}

button{
	all: unset;
}
ul,ol{
	list-style: none;
}
img{
	max-width: 100%;
}

/****************/
/* IMPORT FONTS */
/****************/

/* #### Bron: http://www.cufonfonts.com #### */

@font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: normal;
	src: local('Product Sans Regular'), url('../assets/fonts/ProductSans-Regular.woff') format('woff');
}
  
@font-face {
	font-family: 'Product Sans';
	font-style: italic;
	font-weight: normal;
	src: local('Product Sans Italic'), url('../assets/fonts/ProductSans-Italic.woff') format('woff');
}
  
@font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 100;
	src: local('Product Sans Thin Regular'), url('../assets/fonts/ProductSans-Thin.woff') format('woff');
}
  
@font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Product Sans Light Regular'), url('../assets/fonts/ProductSans-Light.woff') format('woff');
}
  
@font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 500;
	src: local('Product Sans Medium Regular'), url('../assets/fonts/ProductSans-Medium.woff') format('woff');
}
  
@font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 900;
	src: local('Product Sans Black Regular'), url('../assets/fonts/ProductSans-Black.woff') format('woff');
}
  
@font-face {
	font-family: 'Product Sans';
	font-style: italic;
	font-weight: 100;
	src: local('Product Sans Thin Italic'), url('../assets/fonts/ProductSans-ThinItalic.woff') format('woff');
}
  
@font-face {
	font-family: 'Product Sans';
	font-style: italic;
	font-weight: 300;
	src: local('Product Sans Light Italic'), url('../assets/fonts/ProductSans-LightItalic.woff') format('woff');
}
  
@font-face {
	font-family: 'Product Sans';
	font-style: italic;
	font-weight: 500;
	src: local('Product Sans Medium Italic'), url('../assets/fonts/ProductSans-MediumItalic.woff') format('woff');
}
  
@font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Product Sans Bold'), url('../assets/fonts/ProductSans-Bold.woff') format('woff');
}
  
@font-face {
	font-family: 'Product Sans';
	font-style: italic;
	font-weight: 900;
	src: local('Product Sans Black Italic'), url('../assets/fonts/ProductSans-BlackItalic.woff') format('woff');
}  

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--main-text-color:#3C4043;
	--alt-text-color:#636060;
	--h1-text-deco:#188038;

	--main-bg-color:#fff;
	--alt-bg-color:#f8f9fa;

	--footer-icon-fill:#423f3f;
	--line-color:#f2f2f2;

	--main-fonts:Product Sans, Roboto, Arial, sans-serif;
}





/*****************/
/**** STYLING ****/
/*****************/

/***** HEADER *****/

h1, h2, h3, h4, p, a, label, button{
	font-family: var(--main-fonts);
	color: var(--main-text-color);

	text-decoration: none;
}

header{
	display: flex;
	flex-direction: row;
	align-items: center;

	gap: .5em;
	padding: 1em;
}

header a:first-of-type{
	flex-grow: 18;
}

header img{
	width: 1.8em;
}
header button{
	cursor: pointer;
}
header button:nth-of-type(1) img,
header a:nth-of-type(2) img{
	width: 1.5em;
}



/***** FOOTER - basics and title *****/

footer{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	padding: 0 1em 2em 1em;
	
}
footer h2,
footer h3,
footer h4,
footer p,
footer a{
	color: var(--alt-text-color);
}
footer h2{
	font-size: 1.2em;
	font-weight: 500;
	line-height: 5em;

	display: flex;
	align-items: center;
	gap: 1em;
	flex-basis: 100%;
}
footer h2::before {
	content: '';
	background-image: url('/assets/images/Google-logo.png');
	background-size: cover; /* Adjust to fit the desired size */
	
	width: 1.5em;
	height: 1.5em; /* Set a fixed height to maintain aspect ratio */
} /* **PROBLEEM OPGELOST MET CHATGPT** */

@media screen and (min-width: 48em) {
	footer{
		padding: 0 2em 2em 2em;
	}
	footer h2{
		position: absolute;
		left: -999em;
		top: -999em;
	}
}


/***** FOOTER - links *****/

footer > ul,
footer > section:last-of-type{
	display: flex;
	flex-direction: column;
	gap: 2em;
}
footer > ul li{

	width: 35%;
}
footer > ul li h3{
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5em;
}
@media screen and (min-width: 48em) {
	footer > ul{
		align-self: flex-end;
		flex-wrap: wrap;
		gap: 1.5em;
		width: 25em;
		height: 40em;
		padding: 2em;
	}
	footer > ul h3{
		font-size: .8em;
	}
}


/***** FOOTER - socials and data *****/

footer > section:last-of-type{

	border-top: 1px solid var(--line-color);
}
footer > section:last-of-type > ul{
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 1em;

	height: 5em;
}
footer > section:last-of-type > ul img{
	width: 1.2em;
}



footer > section:last-of-type > section:last-of-type{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1em 2em;

	width: 75%;
}
footer > section:last-of-type > section:last-of-type > a:first-of-type{
	display: flex;
	align-items: center;
	gap: 1em;
}
footer > section:last-of-type > section:last-of-type > a:first-of-type::before {
	content: '';
	background-image: url('/assets/images/icons/netherlands.png');
	border-radius: .1em;
	background-size: cover;
	
	width: 1.5em;
	height: 1.2em;
}
@media screen and (min-width: 48em) {
	footer > section:last-of-type > ul{
		height: 3em;
	}
	footer > section:last-of-type > section:last-of-type{
		width: 100%;
		gap: 1em;
	}
	footer > section:last-of-type > section:last-of-type a{
		font-size: .75em;
	}
}
@media screen and (min-width: 64em) {
	footer > section:last-of-type{
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	footer > section:last-of-type > section:last-of-type{
		width: auto;
	}
}