/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button{
	all: unset;
}
ul,ol{
	list-style: none;
}
img{
	max-width: 100%;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* STYLING */
/****************/

header{
	display: flex;
	flex-direction: row;
	align-items: center;

	gap: .5em;
	padding: .5em;
}

header a:first-of-type{
	flex-grow: 19;
}

header img{
	width: 1.8em;
}
header button:nth-of-type(1) img,
header a:nth-of-type(2) img{
	width: 1.5em;
}



footer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

footer h2{
	position: relative;
	flex-basis: 100%;
}
footer h2::before {
	position: absolute;
	left: -1em;
	top: 50%; /* Adjust vertical alignment as needed */
	transform: translateY(-50%); /* Center vertically */
	z-index: 100;

	content: '';
	background-image: url('/assets/images/Google-logo.png');
	background-size: cover; /* Adjust to fit the desired size */
	
	width: 1.8em;
	height: 1.8em; /* Set a fixed height to maintain aspect ratio */
} /* **PROBLEEM OPGELOST MET CHATGPT** */

footer ul{
	display: flex;
	flex-direction: column;
}