

main > section:first-of-type{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10em;
}

h1{
    color: var(--main-text-color);
    font-size: 1.8em;
    font-weight: 700;

    text-align: center;
}
h1 em{
    color:var(--h1-text-deco);
    display: block;
    font-style: normal;
}






main > section:nth-of-type(2){
    display: flex;
    flex-direction: column;
    gap: 1em;
}
main > section:nth-of-type(2) > h2{
    position: absolute;
    left: -999em;
    top: -999em;
}


main > section:nth-of-type(2) > section:first-of-type{
    flex-basis: 100%;

    background-color: var(--alt-bg-color);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    line-height: 5em;
}
main > section:nth-of-type(2) > section:first-of-type > button > img{
    width: 1em;
}









main > section:nth-of-type(2) > ul{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 3em 1em;

    padding-inline-start: 0;
    padding: 0 1em 0 1em;
}
main > section:nth-of-type(2) > ul li{    
    display: flex;
    flex-direction: column;
}

main > section:nth-of-type(2) > ul li h3{
    font-weight: 500;
    font-size: 1em;
    line-height: 3em;
}
main > section:nth-of-type(2) > ul li h4{
    color: var(--alt-text-color);

    font-weight: 300;
    font-size: 1.2em;
}

main > section:nth-of-type(2) > ul li section{
    background-color: var(--alt-bg-color);

    order: -1;

    width: 100%;
    aspect-ratio: 3/4;

    display: flex;
    justify-content: center;
    align-items: center;
}
main > section:nth-of-type(2) > ul li img{
    width: 80%;
    transition-duration: .4s;
}
main > section:nth-of-type(2) > ul li img:hover{
    scale: 1.1;
}




main > section:nth-of-type(2) > section:last-of-type{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;

    height: 10em;
}
main > section:nth-of-type(2) > section:last-of-type button img{
    width: 1em;
    flex-grow: 5;
}
main > section:nth-of-type(2) > section:last-of-type button:first-of-type img{
    rotate: 90deg;
}
main > section:nth-of-type(2) > section:last-of-type button:last-of-type img{
    rotate: -90deg;
}
main > section:nth-of-type(2) > section:last-of-type button:not(
main > section:nth-of-type(2) > section:last-of-type button:first-of-type,
main > section:nth-of-type(2) > section:last-of-type button:last-of-type){
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    background-color: var(--alt-bg-color);
    border-radius: 50%;
}